/day-1-photo-1.jpg
/day-1-photo-2.jpg
/day-3-photo-1.png
/day-3-photo-2.png
/day-3-photo-3.png
/day-4-photo-1.png
/day-4-photo-2.png
/day-4-photo-3.png
/day-4-test.png
/day-5-css-photo-1.png
/day-5-html-photo-2.png
/day-5-preview-photo-3.png
/day2-photo-1-soft-skills.jpg
/day2-photo-2-company-3.jpg
/day2-photo-3-education.jpg