body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
    color: #595959;
    line-height: 19.5px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: #000;
}

ul {
    margin: 0;
    padding: 0 20px;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #fff;
    margin: 40px auto;
}

.main-content-section {
    display: flex;
    flex-direction: column;
    padding: 100px 90px;
    width: 830px;
}

.about-me-section {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 0 50px 0;
}

.about-me-proffesion {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 20px 0;
}

.my-projects-section h3,
.my-work-expirience-section h3,
.my-eductation-section h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 10px 0;
}

.my-projects-section {
    margin: 0 0 40px 0;
}

.my-work-expirience-section ul {
    padding: 0 17px;
}

.my-work-expirience-section li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.my-project-list {
    padding: 0 0 0 17px;
}

.my-projects-item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.my-project-text {
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.my-project-text span {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.my-project-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-work-expirience-section {
    margin: 0 0 40px 0;
}

.my-work-expirience-section h4 span {
    color: #FB6D3A;
}

.my-work-expirience-section p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.my-work-expirience-section p span {
    color: #000;
    font-weight: 500;
}

.my-eductation-section h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 10px 0;
}

.my-eductation-section h3 {
    color: #FB6D3A;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.my-eductation-section h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
}

.my-eductation-section p {
    color: #A8A8A8;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.my-eductation-section p span {
    color: #000;
    font-weight: 500;
}

.sidebar-section {
    background-color: #1e2939;
    color: #fff;
    display: flex;
    width: 370px;
    padding: 40px 0;
    flex-direction: column;
}

.sidebar-title {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    font-style: normal;
    margin-bottom: 10px;
}

.my-contacts,
.my-tech-skills,
.my-soft-skills {
    margin: 0 40px;
}

.contacts-section-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin-right: 7px;
}

.contacts-section-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565e6a;
}

.my-tech-skills {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.my-soft-skills {
    margin-top: 44px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.my-tech-skills ul,
.my-soft-skills ul {
    padding: 0 0 0 17px;
}

.my-tech-skills ul li,
.my-soft-skills ul li {
    color: #FB6D3A;
}

.my-tech-skills ul li span,
.my-soft-skills ul li span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}